{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="../public/styles/style.css">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,600,600i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Document</title>
</head> --}}

<body>



  <!-- NAVIGATION BAR -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/images/logo-white.png" height="60" alt="" id="logo">
    </a>


    {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> --}}

    {{!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> --}}
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="/joblistings">Job Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/postjob">Post a Job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log Out</a>
        </li>


      </ul>

    </div>
  </nav>

  <!-- END NAVIGATION BAR -->

  <!-- HERO -->

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="col-md-4">
        <h1 class="display-4">Find Your Doggo's Next Gig</h1>
        <p class="lead">wrinkler wow very biscit smol. Floofs waggy wags blop doggorino porgo many pats, smol what a
          nice floof lotsa pats. Wow very biscit most angery pupper.</p>
      </div>
    </div>
  </div>

  <!-- END HERO -->

  <!-- FIRST CONTENT & IMAGE BLOCK -->
  <section class="section">
    <div class="container">
      <div class="card">
        <div class="row ">

          <div class="col-md-5 px-6">
            <div class="card-block px-3">
              <h2 class="card-title">Pay Your Rent, Pupperino</h2>
              <p class="card-text">Doggo ipsum shoob the neighborhood pupper dat tungg tho waggy wags big ol vvv, heckin
                good boys and girls bork ruff. Mlem very taste wow borking doggo many pats ruff, you are doin me a
                concern doggorino. Ruff long woofer what a nice floof boofers vvv tungg, long water shoob heckin angery
                woofer wow very biscit. </p>
              <p class="card-text">Puggorino big ol pupperino h*ck woofer super chub, extremely cuuuuuute floofs
                big ol corgo. Such treat I am bekom fat very hand that feed shibe ur givin me a spook borkf, tungg
                floofs. Bork super chub shooberino noodle horse vvv, borking doggo big ol pupper puggorino.</p>
              <a href="/joblistings" class="btn btn-primary rounded-0">View Jobs</a>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4 wrapper">
            <img src="/images/dog2.png" class="content-image img-fluid">
          </div>

        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- END FIRST CONTENT & IMAGE BLOCK -->

  <br>

  <!-- FULL WIDTH IMAGE -->
<div class="500">
<img class="full-width" 
src="/images/full-width-2.jpg" />
</div>

  {{!-- <div class="full-width img-fluid">
    <img src="/images/full-width-2.jpg">
  </div> --}}

  <!-- END FULL WIDTH IMAGE -->

  <!-- SECOND CONTENT & IMAGE BLOCK -->
  <br>
  <section class="section">
    <div class="container">
      <div class="card">
        <div class="row ">

          <div class="col-md-5 px-6">
            <div class="card-block px-3">
              <h2 class="card-title">Post a Pupper Job</h2>
              <p class="card-text">Maximum borkdrive heckin mlem wow very biscit doggo, vvv boof puggo. The neighborhood
                pupper borkf wow such tempt dat tungg tho long woofer big ol boof, very taste wow tungg adorable doggo
                fluffer wow very biscit. What a nice floof big ol pupper aqua doggo many pats very hand that feed shibe
                pupper, the neighborhood pupper boofers long water shoob. </p>
              <p class="card-text">Very jealous pupper wow very biscit most
                angery pupper I have ever seen thicc vvv boofers, wrinkler very taste wow big ol. Bork boofers ur givin
                me a spook what a nice floof long water shoob, big ol pupper boof borkf.</p>
              <a href="/postjob" class="btn btn-primary rounded-0">Post a Job</a>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4 wrapper">
            <img src="/images/dog1.png" class="content-image img-fluid">
          </div>

        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- END SECOND CONTENT & IMAGE BLOCK -->

  <br>


  <!-- FOOTER -->

  <div class="footer">
    <footer class="navbar navbar-expand-lg navbar-dark footer">
      <a class="navbar-brand" href="#">
        <img src="/images/logo-color.png" height="60" alt="" id="footer-logo">
      </a>




        <ul class="navbar-nav mx-auto footer-list">
          <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->

          <li class="nav-item">
            <a class="nav-link footer-link" href="/joblistings">Job Board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-link" href="/postjob">Post a Job</a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-link" href="/login">Log Out</a>
          </li>



        </ul>

  
    </footer>


    <!-- END FOOTER -->



</body>

</html>