<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="./style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>

<!-- NAVIGATION BAR -->
        <nav>
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo"  <img src="./images/2x/Asset 3@2x.png" height="60" alt="" id="logo"></a>>Logo</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/joblistings">Job Board</a></li>
                    <li><a href="/postjob">Post a Job</a></li>
                    <li><a href="/login">Login</a></li>
                  </ul>
                </div>
              </nav>
<!-- END NAVIGATION BAR -->

<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>

      <!-- First content & image block -->
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <!-- end content & image block -->
<br>

      <!-- First content & image block -->
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <!-- end content & image block -->

<br>

<!-- FOOTER -->
              <footer class="page-footer">
                    <div class="container">
                      <div class="row">
                        <div class="col l6 s12">
                          <h5 class="white-text">Footer Content</h5>
                          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                          <h5 class="white-text">Links</h5>
                          <ul>
                            <li><a class="grey-text text-lighten-3" href="/joblistings">Job Board</a></li>
                            <li><a class="grey-text text-lighten-3" href="/postjob">Post a Job</a></li>
                            <li><a class="grey-text text-lighten-3" href="/login">Login</a></li>
                            
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="footer-copyright">
                      <div class="container">
                      © 2019 wagwork
                      
                      </div>
                    </div>
                  </footer>
<!-- END FOOTER -->
    
</body>
</html>

