{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="../public/styles/style.css">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,600,600i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Document</title>
</head> --}}
<body>



<!-- NAVIGATION BAR -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/images/logo-white.png" height="60" alt="" id="logo">
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="/joblistings">Job Board</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/postjob">Post a Job</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>

        
        
      </ul>
      
    </div>
  </nav>


<!-- END NAVIGATION BAR -->

<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="col-md-4">
          <h1 class="display-4">h1 hero</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
          </div>
        </div>
      </div>

      <!-- First content & image block -->
<section class="section">
  <div class="container">
    <div class="card">
      <div class="row ">

          <div class="col-md-5 px-6">
            <div class="card-block px-3">
              <h2 class="card-title"> H2 Intro Content</h2>
              <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a href="#" class="btn btn-primary">View Jobs</a>
            </div>
          </div>
          <div class="col-md-1"></div>
                  <div class="col-md-4">
            <img src="/images/dog2.png" class="content-image">
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
      <!-- end content & image block -->

      <br>

<div class="full-width">
  <img src="/images/fullwidthdog.png">
      </div>

      <!-- First content & image block -->
      <br>
<section class="section">
  <div class="container">
    <div class="card">
      <div class="row ">

          <div class="col-md-5 px-6">
            <div class="card-block px-3">
              <h2 class="card-title">H2 Post a Job</h2>
              <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a href="#" class="btn btn-primary">Post a Job</a>
            </div>
          </div>
          <div class="col-md-1"></div>
                  <div class="col-md-4">
            <img src="/images/dog1.png" class="content-image">
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
      <!-- end content & image block -->

<br>

<!-- FOOTER -->

<!-- Footer -->


<div class="footer">
    <footer class="navbar navbar-expand-lg navbar-dark footer" >
        <a class="navbar-brand" href="#">
          <img src="/images/logo-color.png" height="60" alt="" id="footer-logo">
        </a>
    
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto footer-list">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
    
            <li class="nav-item">
              <a class="nav-link footer-link" href="/joblistings">Job Board</a>
            </li>
            <li class="nav-item">
                <a class="nav-link footer-link" href="/postjob">Post a Job</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link footer-link" href="/login">Login</a>
                </li>
    
            
            
          </ul>
          
        </div>
      </footer>


<!-- END FOOTER -->


    
</body>
</html>