<body>

  <!-- NAVIGATION BAR -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/#">
      <img src="/images/logo-white.png" height="60" alt="" id="logo">
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="/joblistings">Job Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/postjob">Post a Job</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log Out</a>
        </li>



      </ul>

    </div>
  </nav>


  <!-- END NAVIGATION BAR -->

  <!-- Hero -->
  
    <div class="container">
      <div class="no-hero col-md-5">
        <h1 class="display-4">Post a Job</h1>
        <p class="lead">Fill out the form below to create a job posting for a registered or non-registered service dog.</p>
      </div>
    </div>


  <!-- End Hero -->




  <div class = "container">
     <div class="row justify-content-md-center">

    <div class = "col-md-9">

<form class= "form">
  <div class="form-group">
    <label for="jobTitle">Job Title</label>
    <input type="title" class="form-control rounded-0" id="title" placeholder="Registered Service Animal">
  </div>

   <div class="form-group">
    <label for="salary">Salary per hour</label>
    <input type="salary" class="form-control rounded-0" id="salary" placeholder="10">
  </div>

  <div class="form-group">
    <label for="petQualifications">Registered Service Animal?</label>
    <select class="form-control rounded-0" id="question1">
      <option>Yes</option>
      <option>No</option>
    </select>
  </div>
  
     <div class="form-group">
    <label for="location">Location</label>
    <input type="location" class="form-control rounded-0" id="location" placeholder="Tempe, Arizona">
  </div>

  <div class="form-group">
    <label for="jobDescription">Job Description</label>
    <textarea class="form-control rounded-0" id="desc" rows="3"></textarea>
  </div>

  <button class="btn btn-primary rounded-0" type="submit">Submit</button>


</form>

</div>
</div>
</div>






  {{!-- <div class="container">
    <form class="form">
      <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">jobtitle</label>
        <div class="col-sm-10">
          <input class="form-control form-control-sm" id="title" placeholder="col-form-label-sm">
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">salary</label>
        <div class="col-sm-10">
          <input class="form-control form-control-sm" id="salary" placeholder="col-form-label-sm">
        </div>
      </div>
      <div class="form-group row">
        <label for="ques1">Service dog</label>
        <select class="form-control" id="question1">
          <option>Yes</option>
          <option>No</option>

        </select>
      </div>
      <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">location</label>
        <div class="col-sm-10">
          <input class="form-control form-control-sm" id="location" placeholder="col-form-label-sm">
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">description</label>
        <div class="col-sm-10">
          <input class="form-control form-control-sm" id="desc" placeholder="col-form-label-sm">
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div> --}}

  <br>
  <br>
  <br>

  <!-- Footer -->


  <div class="footer">
    <footer class="navbar navbar-expand-lg navbar-dark footer">
      <a class="navbar-brand" href="#">
        <img src="/images/logo-color.png" height="60" alt="" id="footer-logo">
      </a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto footer-list">
          <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->

          <li class="nav-item">
            <a class="nav-link footer-link" href="/joblistings">Job Board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-link" href="/postjob">Post a Job</a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-link" href="/login">Log Out</a>
          </li>



        </ul>

      </div>
    </footer>


    <!-- END FOOTER -->


</body>


</html>