<!-- NAVIGATION BAR -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/#">
        <img src="/images/logo-white.png" height="60" alt="" id="logo">
    </a>


    {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> --}}

    {{!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> --}}
        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->

            <li class="nav-item">
                <a class="nav-link" href="/joblistings">Job Board</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/postjob">Post a Job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log Out</a>
            </li>



        </ul>

    </div>
</nav>


<!-- END NAVIGATION BAR -->

<!-- Hero -->

<div class="container">
    <div class="no-hero col-md-5">
        <h1 class="display-4">Thank you for your submission</h1>
        <p class="lead">Ruff long woofer what a nice floof boofers vvv tungg, long water shoob heckin angery woofer wow
            very biscit.</p>
    </div>
    <a href="/#" class="btn btn-primary rounded-0">Back to Home</a>
</div>
<br>
<br>

<!-- End Hero -->

<div class="footer">
    <footer class="navbar navbar-expand-lg navbar-dark footer">
        <a class="navbar-brand" href="#">
            <img src="/images/logo-color.png" height="60" alt="" id="footer-logo">
        </a>



            <ul class="navbar-nav mx-auto footer-list">
                <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->

                <li class="nav-item">
                    <a class="nav-link footer-link" href="/joblistings">Job Board</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-link" href="/postjob">Post a Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-link" href="/login">Log Out</a>
                </li>



            </ul>

        </div>
    </footer>