h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800 !important;
  text-transform: uppercase;
  font-size: 52px !important;
  color: #112542;
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800 !important;
  text-transform: uppercase;
  font-size: 32px !important;
  color: #112542;
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800 !important;
  text-transform: uppercase;
  font-size: 16px !important;
  color: #112542;
}

h4 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300 !important;
  text-transform: uppercase;
  font-size: 16px !important;
  color: #112542;
}

h5 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800 !important;
  text-transform: uppercase;
  font-size: 20px !important;
  color: #112542;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px !important;
    color: #4A4A4A;

}



.jumbotron {
  color: white;
  background-image: url("../images/homepage-hero.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  background-attachment: fixed;
  overflow-x: hidden;
  background-size: 100%;
}

#joblistinghero {
  color: white;
  background-image: url("../images/joblisting-hero.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 430px;
  background-attachment: fixed;
  overflow-x: hidden;
  background-size: 100%;
}


.footer ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:16px;
  margin-bottom:0;
  color: white;
}

.copyright {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:14px;
  margin-bottom:0;
}

.navbar-nav{
  margin-right: 40px;
  
}

.navbar-brand {
  margin-left: 40px;
}

.footer-brand {
  margin-left: 40px;
  margin-top: 70px;
}

.footer {
  background-color: #F06543;
  height: 230px;
}

.nav-link{
  color: #F06543 !important;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
    font-size: 16px !important;
  
}

.footer-link{
  color: white !important;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
    font-size: 16px !important;
}

nav {
  border-bottom: 3px solid #F06543;

}

.section {
  height: 600px;
  padding-top: 100px;
}

.card {
  border: none !important;
}

.full-width {
  height: 530px;
}

.btn-primary{
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 800 !important;
  background-color: #fff !important;
  font-size: 14px !important;
  border: 2px solid #F06543 !important;
  color: #112542 !important;
  height: 40px;
  text-transform: uppercase;
  padding: 0px 40px !important;
  padding-top: 8px !important;
  
}



.btn-primary:hover{
  background-color: #F06543 !important;
  color: #fff !important;
}

.btn-link{
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 600 !important;
  color: #F06543 !important;
  padding-left: 0px !important;
  text-transform: uppercase;
}

.form-control{
  border-top:none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid #F06543 !important;
}

.fa-chevron-right{
  margin-left: 25px;
}

.jobcard {
  border: 2px solid #F2F2F2 !important;
  margin-bottom: 25px;
  margin-top: 20px;
}

.search-form{
  margin-left: 300px;
}

.no-hero{
margin-top: 60px;
margin-bottom: 80px;
}

.form-group{
  padding-bottom: 10px;
}